<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>we govern</title>
   
    {% endblock %}
  </head>
  <body>
    {% block master %}
    <header id="header">
      <ul>
        <a href="/search"><li>search</li></a>
        <a href="/my_playlist"><li>my_playlist</li></a>
        <a href="/"><li>map</li></a>
      </ul>
    </header>
      
      <!-- <img id="cover" src="/static/background.jpg"> -->
 

    {% endblock master %}


    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>